<!DOCTYPE html>
<html>
<head>
    <title>SHOW</title>
</head>
<body>
<div class = "stats">
  <table cellpading = "10" cellspacing = "1" width = "500">
    <tbody>
      <tr bgcolor = "#D8D8D8">
        <td bgcolor = "#D8D8D8" rowspan = "3">
          <table>
            <tr>
              <td>
                <%=image_tag(@monster.icon.url) %>
              </td>
              <td>
                <h1 style="font-size: 14px; line-height: 10px"> No. <%= @monster.id%> </h1>
                <h2 style="font-size: 20px; line-height: 10px"><%=@monster.name%></h2>
                0000
              </td>
            </tr>
          </table>
        </td>
        <td>
          <%=image_tag(@monster.attr+'.png', {height:31, width: 31})%>
        </td>
        <td>
          <%=image_tag(@monster.category+'.png')%>
        </td>
      </tr>
      <tr bgcolor = "#D8D8D8" >
        <td colspan="2" align="center">COST: 5</td>
      </tr >
      <tr bgcolor = "#D8D8D8" >
        <td colspan="2" align="center">MAX EXPERIENCE: 100,000</td>
      </tr >
    </tbody>
  </table>
  <br/>
  <table>
    <tbody>
     <tr rowspan="3">
       <td>
         Basic Stats
       </td>
     </tr>
    </tbody>
  </table>

</div>
</body>
</html>