<!DOCTYPE html>
<html>
<head>
  <title>PND</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $('tr td').mouseenter(function(){
          var image= $(this).find('img'),
                  caption = $(this).find('div');
          console.log('enter') ;

          caption.width(image.width());
          caption.height(image.height());
          caption.fadeIn();
      }).mouseleave(function(){
                  var image= $(this).find('img'),
                          caption = $(this).find('div');

                  caption.width(image.width());
                  caption.height(image.height());
                  caption.fadeOut();
              });
  </script>
</head>
<body>
<div id="header">
    <div id="title">
        <%=image_tag('title.png')%>
    </div>
    <nav id="menu">
      <ul id="first">
        <li>
         <%= link_to('Home',:root) %>
         <ul>
           <li>
             <%= link_to('Home',:root) %>
           </li>
           <li>
             <%= link_to('Home',:root) %>
           </li>
         </ul>
        </li>
        <li>
          <%= link_to('Home',:root) %>
          <ul>
            <li>
              <%= link_to('Home',:root) %>
            </li>
            <li>
              <%= link_to('Home',:root) %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to('Home',:root) %>
          <ul id="last">
            <li>
              <%= link_to('2222',:root) %>
            </li>
            <li>
              <%= link_to('Ho222me',:root) %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
</div>

<%= yield %>

</body>
</html>
