<!DOCTYPE html>
<html>
<head>
  <title>PND</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
    <div id="title">
        <%=image_tag('title.png')%>
    </div>
    <nav id="menu">
      <ul id="first">
        <li>
         <%= link_to('Home',:root) %>
         <ul>
           <li>
             <%= link_to('Home',:root) %>
           </li>
           <li>
             <%= link_to('Home',:root) %>
           </li>
         </ul>
        </li>
        <li>
          <%= link_to('Monsters',:controller => "monsters",:action =>"index") %>
          <ul>
            <li>
              <%= link_to('Search',:controller => "monsters",:action =>"search") %>
            </li>
            <li>
              <%= link_to('Home',:root) %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to('Home',:root) %>
          <ul id="last">
            <li>
              <%= link_to('2222',:root) %>
            </li>
            <li>
              <%= link_to('Ho222me',:root) %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
</div>

<%= yield %>

</body>
</html>
